python
pip
# conda
pydantic<2.0a0
pytest
pytest-cov
hypothesis
hypothesis-jsonschema
# TMP - conda deps:
conda-package-handling>=2.2.0
packaging>=23.0
pycosat>=0.6.3
pyopenssl>=16.2.0
requests>=2.27.0,<3
ruamel.yaml>=0.11.14,<0.18
setuptools>=60.0.0
pluggy>=1.0.0
tqdm>=4
boltons>=23.0.0
jsonpatch>=1.32
truststore>=0.8.0
