name: Tests

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  # Concurrency group that uses the workflow name and PR number if available
  # or commit SHA as a fallback. If a new build is triggered under that
  # concurrency group while a previous build is running it will be canceled.
  # Repeated pushes to a PR will cancel all previous builds, while multiple
  # merges to main will not cancel.
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  run_test_suite:
    name: ${{ matrix.os }}-py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}-latest
    timeout-minutes: 30
    env:
      dependencies: typing_extensions
      test-dependencies: >- # fold and trim newlines
        conda-canary/label/conda-conda-pr-11882::conda 
        pip 
        pytest 
        pytest-cov 
        pydantic 
        hypothesis 
        hypothesis-jsonschema
      CONDA_NUMBER_CHANNEL_NOTICES: 0
    strategy:
      fail-fast: false
      matrix:
        os: [windows, ubuntu, macos]
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v2

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-canary/label/conda-conda-pr-11882,conda-forge
          channel-priority: strict

      - shell: bash -el {0}
        name: Conda info
        run: |
          conda info
          conda list

      - shell: bash -el {0}
        name: Install dependencies
        run: |
          conda install -c conda-forge ${{ env.dependencies }} ${{ env.test-dependencies }}
          conda list

      - shell: bash -el {0}
        name: Install menuinst
        run: |
          pip install -vv .

      - shell: bash -el {0}
        name: Run test suite
        run: |
          pytest tests --cov-append --cov-report=xml --cov=menuinst

      - uses: codecov/codecov-action@v1
        with:
          name: ${{ matrix.os }}-py${{ matrix.python-version }}
